### bike share data cleaning

In [1]:
pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.9/site-packages (2.1.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy<2,>=1.22.4 in ./venv/lib/python3.9/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Set up Notebook

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in ./venv/lib/python3.9/site-packages (0.13.0)
Requirement already satisfied: pandas>=1.2 in ./venv/lib/python3.9/site-packages (from seaborn) (2.1.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in ./venv/lib/python3.9/site-packages (from seaborn) (1.26.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in ./venv/lib/python3.9/site-packages (from seaborn) (3.8.1)
Requirement already satisfied: pillow>=8 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: python-dateutil>=2.7 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.44.0)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: importlib-resources>=3.2.0 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (6.1.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in ./venv/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.3->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
# 3rd party imports

import pandas as pd 
import seaborn as sns

from datetime import datetime
import matplotlib.pylab as plt
import numpy as np
import matplotlib as plt

# Configure Notebook
%matplotlib inline
plt.style.use('fivethirtyeight')
sns.set_context("notebook")
import warnings
warnings.filterwarnings('ignore')

## Import datasets

2018 Data

In [4]:
#data from each year is divided into 4 quarters

bike_share_2018_q1 = pd.read_csv('toronto bike share/bikeshare2018/Bike Share Toronto Ridership_Q1 2018.csv')
bike_share_2018_q2 = pd.read_csv('toronto bike share/bikeshare2018/Bike Share Toronto Ridership_Q2 2018.csv')

bike_share_2018_q3 = pd.read_csv('toronto bike share/bikeshare2018/Bike Share Toronto Ridership_Q3 2018.csv')

bike_share_2018_q4 = pd.read_csv('toronto bike share/bikeshare2018/Bike Share Toronto Ridership_Q4 2018.csv')


bike_share_2018_q1.head()

,trip_id,trip_duration_seconds,from_station_id,trip_start_time,from_station_name,trip_stop_time,to_station_id,to_station_name,user_type
0,2383648,393,7018,1/1/2018 0:47,Bremner Blvd / Rees St,1/1/2018 0:54,7176,Bathurst St / Fort York Blvd,Annual Member
1,2383649,625,7184,1/1/2018 0:52,Ossington Ave / College St,1/1/2018 1:03,7191,Central Tech (Harbord St),Annual Member
2,2383650,233,7235,1/1/2018 0:55,Bay St / College St (West Side) - SMART,1/1/2018 0:59,7021,Bay St / Albert St,Annual Member
3,2383651,1138,7202,1/1/2018 0:57,Queen St W / York St (City Hall),1/1/2018 1:16,7020,Phoebe St / Spadina Ave,Annual Member
4,2383652,703,7004,1/1/2018 1:00,University Ave / Elm St,1/1/2018 1:12,7060,Princess St / Adelaide St E,Annual Member

In [5]:
bike_share_2018 = pd.concat([bike_share_2018_q1,bike_share_2018_q2, bike_share_2018_q3, bike_share_2018_q4])

In [6]:
bike_share_2018.head()

,trip_id,trip_duration_seconds,from_station_id,trip_start_time,from_station_name,trip_stop_time,to_station_id,to_station_name,user_type
0,2383648,393,7018,1/1/2018 0:47,Bremner Blvd / Rees St,1/1/2018 0:54,7176,Bathurst St / Fort York Blvd,Annual Member
1,2383649,625,7184,1/1/2018 0:52,Ossington Ave / College St,1/1/2018 1:03,7191,Central Tech (Harbord St),Annual Member
2,2383650,233,7235,1/1/2018 0:55,Bay St / College St (West Side) - SMART,1/1/2018 0:59,7021,Bay St / Albert St,Annual Member
3,2383651,1138,7202,1/1/2018 0:57,Queen St W / York St (City Hall),1/1/2018 1:16,7020,Phoebe St / Spadina Ave,Annual Member
4,2383652,703,7004,1/1/2018 1:00,University Ave / Elm St,1/1/2018 1:12,7060,Princess St / Adelaide St E,Annual Member

2019 Data

In [7]:
bike_share_2019_q1 = pd.read_csv('toronto bike share/Bikeshare-ridership-2019/2019-Q1.csv')
bike_share_2019_q2 = pd.read_csv('toronto bike share/Bikeshare-ridership-2019/2019-Q2.csv')

bike_share_2019_q3 = pd.read_csv('toronto bike share/Bikeshare-ridership-2019/2019-Q3.csv')

bike_share_2019_q4 = pd.read_csv('toronto bike share/Bikeshare-ridership-2019/2019-Q4.csv')

In [8]:
bike_share_2019 = pd.concat([bike_share_2019_q1,bike_share_2019_q2, bike_share_2019_q3, bike_share_2019_q4])

In [9]:
bike_share_2019.head()

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,4581278,1547.0,7021,01/01/2019 00:08,Bay St / Albert St,7233.0,01/01/2019 00:33,King / Cowan Ave - SMART,1296,Annual Member
1,4581279,1112.0,7160,01/01/2019 00:10,King St W / Tecumseth St,7051.0,01/01/2019 00:29,Wellesley St E / Yonge St (Green P),2947,Annual Member
2,4581280,589.0,7055,01/01/2019 00:15,Jarvis St / Carlton St,7013.0,01/01/2019 00:25,Scott St / The Esplanade,2293,Annual Member
3,4581281,259.0,7012,01/01/2019 00:16,Elizabeth St / Edward St (Bus Terminal),7235.0,01/01/2019 00:20,Bay St / College St (West Side) - SMART,283,Annual Member
4,4581282,281.0,7041,01/01/2019 00:19,Edward St / Yonge St,7257.0,01/01/2019 00:24,Dundas St W / St. Patrick St,1799,Annual Member

2020 Data

In [10]:
bike_share_2020_m1 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-01.csv')
bike_share_2020_m1_df = pd.DataFrame(bike_share_2020_m1)

bike_share_2020_m2 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-02.csv')
bike_share_2020_m2_df = pd.DataFrame(bike_share_2020_m2)

bike_share_2020_m3 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-03.csv')
bike_share_2020_m3_df = pd.DataFrame(bike_share_2020_m3)

bike_share_2020_m4 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-04.csv')
bike_share_2020_m4_df = pd.DataFrame(bike_share_2020_m4)

bike_share_2020_m5 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-05.csv')
bike_share_2020_m5_df = pd.DataFrame(bike_share_2020_m5)

bike_share_2020_m6 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-06.csv')
bike_share_2020_m6_df = pd.DataFrame(bike_share_2020_m6)

bike_share_2020_m7 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-07.csv')
bike_share_2020_m7_df = pd.DataFrame(bike_share_2020_m7)

bike_share_2020_m8 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-08.csv')
bike_share_2020_m8_df = pd.DataFrame(bike_share_2020_m8)

bike_share_2020_m9 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-09.csv')
bike_share_2020_m9_df = pd.DataFrame(bike_share_2020_m9)

bike_share_2020_m10 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-10.csv')
bike_share_2020_m10_df = pd.DataFrame(bike_share_2020_m10)

bike_share_2020_m11 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-11.csv')
bike_share_2020_m11_df = pd.DataFrame(bike_share_2020_m11)

bike_share_2020_m12 = pd.read_csv('toronto bike share/Bikeshare-ridership-2020/2020-12.csv')
bike_share_2020_m12_df = pd.DataFrame(bike_share_2020_m12)

In [11]:
#concat
bikeshare_2020 = pd.concat([bike_share_2020_m1_df, bike_share_2020_m2_df,bike_share_2020_m3_df, bike_share_2020_m4_df, bike_share_2020_m5_df, bike_share_2020_m6_df, bike_share_2020_m7_df, bike_share_2020_m8_df, bike_share_2020_m9_df,  bike_share_2020_m10_df, bike_share_2020_m11_df,bike_share_2020_m12_df])

bikeshare_2020.head()

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,7334128,648,7003,01/01/2020 00:08,Madison Ave / Bloor St W,7271.0,01/01/2020 00:19,Yonge St / Alexander St - SMART,3104,Annual Member
1,7334129,419,7007,01/01/2020 00:10,College St / Huron St,7163.0,01/01/2020 00:17,Yonge St / Wood St,2126,Annual Member
2,7334130,566,7113,01/01/2020 00:13,Parliament St / Aberdeen Ave,7108.0,01/01/2020 00:22,Front St E / Cherry St,4425,Annual Member
3,7334131,1274,7333,01/01/2020 00:17,King St E / Victoria St,7311.0,01/01/2020 00:38,Sherbourne St / Isabella St,4233,Annual Member
4,7334132,906,7009,01/01/2020 00:19,King St E / Jarvis St,7004.0,01/01/2020 00:34,University Ave / Elm St,2341,Casual Member

2021 Data

In [13]:
bike_share_2021_m1 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-01.csv', encoding='cp1252')
bike_share_2021_m1_df = pd.DataFrame(bike_share_2021_m1)

bike_share_2021_m2 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-02.csv', encoding='cp1252')
bike_share_2021_m2_df = pd.DataFrame(bike_share_2021_m2)

bike_share_2021_m3 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-03.csv', encoding='cp1252')
bike_share_2021_m3_df = pd.DataFrame(bike_share_2021_m3)

bike_share_2021_m4 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-04.csv', encoding='cp1252')
bike_share_2021_m4_df = pd.DataFrame(bike_share_2021_m4)

bike_share_2021_m5 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-05.csv', encoding='cp1252')
bike_share_2021_m5_df = pd.DataFrame(bike_share_2021_m5)

bike_share_2021_m6 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-06.csv', encoding='cp1252')
bike_share_2021_m6_df = pd.DataFrame(bike_share_2021_m6)

bike_share_2021_m7 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-07.csv', encoding='cp1252')
bike_share_2021_m7_df = pd.DataFrame(bike_share_2021_m7)

bike_share_2021_m8 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-08.csv', encoding='cp1252')
bike_share_2021_m8_df = pd.DataFrame(bike_share_2021_m8)

bike_share_2021_m9 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-09.csv', encoding='cp1252')
bike_share_2021_m9_df = pd.DataFrame(bike_share_2021_m9)

bike_share_2021_m10 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-10.csv', encoding='cp1252')
bike_share_2021_m10_df = pd.DataFrame(bike_share_2021_m10)

bike_share_2021_m11 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-11.csv', encoding='cp1252')
bike_share_2021_m11_df = pd.DataFrame(bike_share_2021_m11)

bike_share_2021_m12 = pd.read_csv('toronto bike share/bikeshare-ridership-2021/Bike share ridership 2021-12.csv', encoding='cp1252')
bike_share_2021_m12_df = pd.DataFrame(bike_share_2021_m12)

In [14]:
bikeshare_2021 = pd.concat([bike_share_2021_m1_df, bike_share_2021_m2_df,bike_share_2021_m3_df, bike_share_2021_m4_df, bike_share_2021_m5_df, bike_share_2021_m6_df, bike_share_2021_m7_df, bike_share_2021_m8_df, bike_share_2021_m9_df,  bike_share_2021_m10_df, bike_share_2021_m11_df,bike_share_2021_m12_df])

bikeshare_2021.head()

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,ï»¿Trip Id
0,10644218.0,1315,7021,01/01/2021 00:04,Bay St / Albert St,7164.0,01/01/2021 00:26,Gould St / Yonge St (Ryerson University),6795.0,Annual Member,NaN
1,10644220.0,396,7534,01/01/2021 00:07,Walnut Ave / Queen St W,7524.0,01/01/2021 00:13,Lisgar Park,4176.0,Casual Member,NaN
2,10644221.0,86,7162,01/01/2021 00:10,Hayter St / Laplante Ave,7006.0,01/01/2021 00:11,Bay St / College St (East Side),1814.0,Annual Member,NaN
3,10644222.0,741,7003,01/01/2021 00:10,Madison Ave / Bloor St W,7272.0,01/01/2021 00:22,Yonge St / Dundonald St - SMART,198.0,Casual Member,NaN
4,10644223.0,2073,7562,01/01/2021 00:11,Priscilla Ave / Dundas St W - SMART,7562.0,01/01/2021 00:45,Priscilla Ave / Dundas St W - SMART,6688.0,Casual Member,NaN

2022 Data

In [21]:
bike_share_2022_m1 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-01.csv', encoding='cp1252')
bike_share_2022_m1_df = pd.DataFrame(bike_share_2022_m1)

bike_share_2022_m2 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-02.csv', encoding='cp1252')
bike_share_2022_m2_df = pd.DataFrame(bike_share_2022_m2)

bike_share_2022_m3 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-03.csv', encoding='cp1252')
bike_share_2022_m3_df = pd.DataFrame(bike_share_2022_m3)

bike_share_2022_m4 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-04.csv', encoding='cp1252')
bike_share_2022_m4_df = pd.DataFrame(bike_share_2022_m4)

bike_share_2022_m5 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-05.csv', encoding='cp1252')
bike_share_2022_m5_df = pd.DataFrame(bike_share_2022_m5)

bike_share_2022_m6 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-06.csv', encoding='cp1252')
bike_share_2022_m6_df = pd.DataFrame(bike_share_2022_m6)

bike_share_2022_m7 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-07.csv', encoding='cp1252')
bike_share_2022_m7_df = pd.DataFrame(bike_share_2022_m7)

bike_share_2022_m8 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-08.csv', encoding='cp1252')
bike_share_2022_m8_df = pd.DataFrame(bike_share_2022_m8)

bike_share_2022_m9 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-09.csv', encoding='cp1252')
bike_share_2022_m9_df = pd.DataFrame(bike_share_2022_m9)

bike_share_2022_m10 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-10.csv', encoding='cp1252')
bike_share_2022_m10_df = pd.DataFrame(bike_share_2022_m10)

bike_share_2022_m11 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-11.csv', encoding='cp1252')
bike_share_2022_m11_df = pd.DataFrame(bike_share_2022_m11)

bike_share_2022_m12 = pd.read_csv('toronto bike share/bikeshare-ridership-2022/Bike share ridership 2022-12.csv', encoding='cp1252')
bike_share_2022_m12_df = pd.DataFrame(bike_share_2022_m12)

In [22]:
bikeshare_2022 = pd.concat([bike_share_2022_m1_df, bike_share_2022_m2_df,bike_share_2022_m3_df, bike_share_2022_m4_df, bike_share_2022_m5_df, bike_share_2022_m6_df, bike_share_2022_m7_df, bike_share_2022_m8_df, bike_share_2022_m9_df,  bike_share_2022_m10_df, bike_share_2022_m11_df,bike_share_2022_m12_df])

bikeshare_2022.head()

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id
0,14805109.0,4335,7334,01/01/2022 00:02,Simcoe St / Wellington St North,7269.0,01/01/2022 01:15,Toronto Eaton Centre (Yonge St),5139,Casual Member,NaN
1,14805110.0,126,7443,01/01/2022 00:02,Dundas St E / George St,7270.0,01/01/2022 00:05,Church St / Dundas St E - SMART,3992,Annual Member,NaN
2,14805112.0,942,7399,01/01/2022 00:04,Lower Jarvis / Queens Quay E,7686.0,01/01/2022 00:19,NaN,361,Annual Member,NaN
3,14805113.0,4256,7334,01/01/2022 00:04,Simcoe St / Wellington St North,7269.0,01/01/2022 01:15,Toronto Eaton Centre (Yonge St),4350,Casual Member,NaN
4,14805114.0,4353,7334,01/01/2022 00:05,Simcoe St / Wellington St North,7038.0,01/01/2022 01:17,Dundas St W / Yonge St,5074,Casual Member,NaN

2023 Data

In [23]:
bike_share_2023_m1 = pd.read_csv('toronto bike share/bikeshare-ridership-2023/Bike share ridership 2023-01.csv', encoding='cp1252')
bike_share_2023_m1_df = pd.DataFrame(bike_share_2023_m1)

bike_share_2023_m2 = pd.read_csv('toronto bike share/bikeshare-ridership-2023/Bike share ridership 2023-02.csv', encoding='cp1252')
bike_share_2023_m2_df = pd.DataFrame(bike_share_2023_m2)

bike_share_2023_m3 = pd.read_csv('toronto bike share/bikeshare-ridership-2023/Bike share ridership 2023-03.csv', encoding='cp1252')
bike_share_2023_m3_df = pd.DataFrame(bike_share_2023_m3)

In [24]:
bikeshare_2023 = pd.concat([bike_share_2023_m1_df, bike_share_2023_m2_df, bike_share_2023_m3_df])

bikeshare_2023.head()

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,20148784,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703.0,01/01/2023 00:14,NaN,1770,Casual Member
1,20148785,722,7399,01/01/2023 00:01,Lower Jarvis / Queens Quay E,7533.0,01/01/2023 00:13,Housey St / Dan Leckie Way,6400,Casual Member
2,20148786,1054,7269,01/01/2023 00:02,Toronto Eaton Centre (Yonge St),7076.0,01/01/2023 00:20,York St / Queens Quay W,4068,Annual Member
3,20148790,1329,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,427,Casual Member
4,20148791,1291,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,1840,Casual Member

Save the csv file in the project folder.

In [25]:
bike_share_2018.to_csv('bikeshare_2018.csv')
bike_share_2019.to_csv('bikeshare_2019.csv')
bikeshare_2020.to_csv('bikeshare_2020.csv')
bikeshare_2021.to_csv('bikeshare_2021.csv')
bikeshare_2022.to_csv('bikeshare_2022.csv')
bikeshare_2023.to_csv('bikeshare_2023.csv')